@using michaelherbert.org.Models
@model  michaelherbert.org.ViewModels.BlogHomeViewModel 

@{
    ViewBag.Title = "Blog Home";
}
<div class="section bg-success" style="color: rgba(232, 181, 0, 0.90);">
    <div class="container bg-fill">
        <div class="col-lg-12">
            <h1 class="page-header">
                Michael Herbert
                <small>Blog Homepage</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li class="active">Blog</li>
            </ol>
        </div>
    </div>

    <div class="container bg-fill">

        @*@int = blogRowNum[];*@

        @for (int i = 0; i < 3; i++)
        {
            //int blogRowNum[i] = BlogRowNum;
            string dateID = "BlogPostDate" + i;
            string titleID = "BlogPostTitle" + i;
            string contentID = "BlogPostContent" + i;

            michaelherbert.org.ViewModels.BlogHomeViewModel vm = new michaelherbert.org.ViewModels.BlogHomeViewModel();

            <div class="row">
                <div class="col-md-1">
                    <p><label id="@{@dateID}">@Html.Raw(TempData["bpd" + i + ""])</label> </p>

                </div>
                <div class="col-md-5">
                    <a href="@Url.Action("Post" + i)">
                        <img class="img-responsive" src="~/images/coding-blog.png" />
                    </a>
                </div>
                <div class="col-md-6">

                    <h3><a href="@Url.Action("Post" + i)"><label id="@{@titleID}">@Html.Raw(TempData["bpt" + i + ""])</label></a></h3>
                    <p>by <a href="#">Michael Herbert</a></p>

                    <label id="@{@contentID}">@Html.Raw(TempData["bpc" + i + ""])</label>

                    <p><a href="@Url.Action("Post" + i)" class="btn btn-primary">Read More <i class="fa fa-angle-right"></i></a></p>
                </div>
            </div>
            <hr>
        }
        <h5>@Html.Raw(TempData["lastID"])</h5>
        <form id="blog-Form" name="blog-Form" method="post">
            <div class="row">
                <ul class="pager">
                    <li class="previous">
                        <a href="@Url.Action("Home", "Blog", new { name = "changePost", type = "older", lastID = TempData["currentRow"] })">← Older</a>
                    </li>
                    <li class="next">
                        <a href="@Url.Action("Home", "Blog", new { name = "changePost", type = "newer", lastID = (Convert.ToInt32(TempData["currentRow"])-3) })">Newer →</a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>