@using michaelherbert.org.Models
@model michaelherbert.org.ViewModels.BlogViewModel

@{
    ViewBag.Title = "Blog Post";
}

<div class="section bg-success" style="color: rgba(232, 181, 0, 0.90);">
    <div class="container bg-fill">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Michael Herbert's Blog
                    <small>Latest Blog Post</small>
                </h1>
                <ol class="breadcrumb">
                    <li>
                        @Html.ActionLink("Home", "Index", "Home")
                    </li>
                    <li class="active">Blog Post</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <!-- the actual blog post: title/author/date/content -->
                <div class="row" style="margin-left: 15px; margin-right: 15px;">
                    <div class="container">
                        <hr>
                        <p>
                            <i class="fa fa-clock-o"></i> Posted on <label class="" id="LatestBlogDate">
                                @Html.Raw(TempData["latestBlogDate"])
                            </label> by <a href="#">Michael Herbert</a>
                        </p>
                        @*<hr>
    <img class="img-responsive" src="http://placehold.it/900x300">*@
                        <hr>
                        <p>
                            <h2>
                                <label class="text-info" id="LatestBlogTitle">
                                    @Html.Raw(TempData["latestBlogTitle"])
                                </label>
                            </h2>
                        </p>
                        <p>
                            <section class="section" style="font-size: 16px; color: rgba(232, 181, 0, 0.90);">
                                <label id="LatestBlogContent">
                                    @Html.Raw(TempData["latestBlogContent"])
                                </label>
                            </section>
                        </p>
                    </div>
                    <div class="row">
                        @if (Convert.ToString(Session["userName"]) == "DannarHetoshi" && Request.IsAuthenticated)
                        {
                            using (Html.BeginForm("Post", "Blog", FormMethod.Post, new { id = "blog-form" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="well" style="margin: 15px;">
                                    <form id="blog-Form" name="blog-Form" method="post">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Blog_Post_Title, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.Blog_Post_Title, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Blog_Post_Title, "", new { @class = "text-danger" })

                                            @*<label for="Blog_Post_Title">Blog Post Title</label>
                                                <input type="text" id="Blog_Post_Title" name="Blog_Post_Title" class="form-control">*@

                                            @Html.LabelFor(model => model.Blog_Post_Content, htmlAttributes: new { @class = "control-textarea" })
                                            @Html.TextAreaFor(model => model.Blog_Post_Content, htmlAttributes: new { @class = "control-textarea",
                                            @rows = 3, @style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Blog_Post_Content, "", new { @class = "text-danger" })

                                            @*<label for="Blog_Post_Content">Blog Post Content</label>
                                                <input type="text" id="Blog_Post_Content" name="Blog_Post_Content" rows="3" class="form-control" />*@
                                        </div>
                                        <input type="submit" name="blogPostSubmit" id="blogPostSubmit" class="btn btn-default" value="Create Post" />
                                        @*<button class="btn btn-primary" type="submit">Edit Post</button>
                                            <button class="btn btn-primary" type="submit">Delete Post</button>*@
                                    </form>
                                </div>
                            }
                            @Scripts.Render("~/bundles/jquery")
                            <script type="text/javascript" src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
                            <script type="text/javascript">
                                tinymce.init({ selector: 'textarea' });
                            </script>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>Popular Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#dinosaurs">Dinosaurs</a>
                                </li>
                                <li>
                                    <a href="#spaceships">Spaceships</a>
                                </li>
                                <li>
                                    <a href="#fried-foods">Fried Foods</a>
                                </li>
                                <li>
                                    <a href="#wild-animals">Wild Animals</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#alien-abductions">Alien Abductions</a>
                                </li>
                                <li>
                                    <a href="#business-casual">Business Casual</a>
                                </li>
                                <li>
                                    <a href="#robots">Robots</a>
                                </li>
                                <li>
                                    <a href="#fireworks">Fireworks</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Bootstrap's default well's work great for side widgets! What is a widget anyways...?</p>
                </div>
                <!-- /well -->
            </div>
        </div>

        <hr>
        <!-- the comment box -->
        <div class="well" style="margin: 15px;">
            <h4>Leave a Comment:</h4>
            <form role="form">
                <div class="form-group">
                    <input type="text" rows="3" class="form-control"/>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <hr>
        <!-- the comments -->
        <div class="row col-lg-12">
            <div class="col-md-6">
                <h3>
                    Start Bootstrap
                    <small>9:41 PM on August 24, 2013</small>
                </h3>
                <p>
                    This has to be the worst blog post I have ever read. It simply makes no sense.
                    You start off by talking about space or something, then you randomly start babbling about cupcakes,
                    and you end off with random fish names.
                </p>
                <h3>
                    Start Bootstrap
                    <small>9:47 PM on August 24, 2013</small>
                </h3>
                <p>
                    Don't listen to this guy, any blog with the categories 'dinosaurs, spaceships, fried foods,
                    wild animals, alien abductions, business casual, robots, and fireworks' has true potential.
                </p>
            </div>
        </div>
    </div>
</div>
